<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Monitor Control</title>
</head>
<body>
<div th:fragment="control" class="control">
  <h3>Monitor Control <span class="noselect collapseButton" data-closing="monitor_panel">[-]</span></h3>
  <div id="monitor_panel">
    <div id="monitor-banner"></div>
    <div id="monitor_buttons">
      <input type="button" id="monitor_turnoff" class="button" value="Turn Off"/>
      <!--/*@thymesVar id="test" type="java.lang.String"*/-->
      <!--/*@thymesVar id="keepOnState" type="java.lang.Boolean"*/-->
      <div>
        <label for="monitor-keepOff">Keep Off</label>
        <input id="monitor-keepOff" type="checkbox" th:checkedstate="${keepOnState}"/>
      </div>
      <script src="/assets/scripts/monitor.js"></script>
    </div>
  </div>
</div>
</body>
</html>